html,
body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

#content {
  /*   height: 100%; */
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 30;
  color: #fccbcb;
  /*   max-width:600px; */
  margin: auto;
  pointer-events: none;
  flex-direction: column;
  opacity: 0;

  /*   max-width: calc(100vw - 4px); */
}

/*? is ios:*/
@supports (-webkit-touch-callout: none) {

  /* CSS specific to iOS devices */
  #content {
    min-height: -webkit-fill-available;
  }
}



.card {
  position: relative;
  /* width: min(800px, calc(100vw - 53px)); */
  height: 400px;
  width: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.border {
  border: 2px solid #fccbcb;

}

.stamp {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 100px;
  height: 100px;

}

text {
  font-size: 43px;
  /*   text-transform:uppercase; */
  letter-spacing: 8px;
  display: block;
  margin-top: 2px;
  font-family: Sans-Serif;
}

text.small {
  font-size: 36px;
  letter-spacing: 4px;
}

.card-instructions {
  font-size: 60px;
  letter-spacing: 9px;
  margin-bottom: 4px;

}